<div class="indexation-entry">
    <a href="{{ link }}">{{ title }}</a>
    {{# subtitle }}{{ subtitle }}{{/ subtitle }}
    {{# toc }}<table class="indexation-entry-toc">
        <tr class="entry-toc-level-{{ level }}">
            <td class="entry-toc-text"><a href="{{ link }}{{ target }}">{{{ text }}}</a></td>
        </tr>
    </table>
    {{/ toc }}
</div>
