<div id="index">
    <dl class="index">
        {{# index }}
            <dt>{{ text }}</dt> {{# refs }}<dd><a href="{{ target }}">{{{ place }}}</a></dd>{{/ refs }}
        {{/ index }}
    </dl>
</div>
