<table class="pod-table{{# addClass }} {{ addClass }}{{/ addClass }}">
    {{# caption }}<caption>{{{ caption }}}</caption>{{/ caption }}
    {{# headers }}<thead>
        <tr>{{# cells }}<th>{{{ . }}}</th>{{/ cells }}</tr>
    </thead>{{/ headers }}
    <tbody>
        {{# rows }}<tr>{{# cells }}<td>{{{ . }}}</td>{{/ cells }}</tr>{{/ rows }}
    </tbody>
</table>
