<nav class="indexgroup">
    <table id="TOC">
        <caption><h2 id="TOC_Title">Table of Contents</h2></caption>
        {{# toc }}
        <tr class="toc-level-{{ level }}">
            <td class="toc-text"><a href="{{ target }}">{{{ text }}}</a></td>
        </tr>
        {{/ toc }}
    </table>
</nav>
